{include="header"}

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-exclamation-sign"></span>
               Página no encontrada
            </h1>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-8">
         <div class="panel panel-danger">
            <div class="panel-body">
               <div class="col-sm-4">
                  <div class="thumbnail">
                     <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{include="footer"}